.container {
  width: auto;
  height: auto;
  background-color: #5A352A;
  display: flex;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.divyHeader {
  padding: 60px;
  text-align: center;
  background: #A6A57A;
  border: solid;
  border-color: #A47963;
  border-width: 10px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 100px;
  color: #27213C;
  flex-direction: row;
}

.divyTop {
  padding: 60px;
  text-align: center;
  background: #27213C;
  border: solid;
  border-color: #A33B20;
  border-width: 10px;
  font-size: 20px;
  color: white;
  flex-direction: row;
}

.divyLeft {
  padding: 60px;
  text-align: center;
  background: #A6A57A;
  border: solid;
  border-color: #A47963;
  border-width: 10px;
  font-size: 25px;
  color: #27213C;
  flex-direction: column;
  background-size: auto;
}

.divyMiddle {
  padding: 60px;
  text-align: center;
  background: #A6A57A;
  border: solid;
  border-color: #A47963;
  border-width: 10px;
  font-size: 25px;
  color: #27213C;
  flex-direction: column;
}

.divyRight {
  padding: 60px;
  text-align: center;
  background: #A6A57A;
  border: solid;
  border-color: #A47963;
  border-width: 10px;
  font-size: 25px;
  color: #27213C;
  flex-direction: column;
}

.headerAdjust {
  padding: 20px;
  text-align: center;
  background: #27213C;
  border: solid;
  border-color: #A33B20;
  border-width: 8px;
  font-size: 35px;
  color: white;
}

.imgAdjust {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height:30%;
}

.columnImgAdjust {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
}

.center {
  text-align: center;
}